.Gallery .Gallery-top {
  background-color: #191919;
  top: 0;
  position: fixed;
  height: 100vh;
  left: calc(100vh - 35em);
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5em;
}

.Gallery .tile-image {
  width: 10em;
  height: 10em;
  background-position: 50% 50%;
  background-size: cover;
  border: .1em solid #b6b7b7;
  margin: .5em;
  cursor: pointer;
}
