.Section {

}
.Section .Section-label {
  background: #3a3a3a;
  color: #b6b7b7;
  width: 12em;
  height: 2em;
  line-height: 1.7em;
  padding-left: .5em;
  border: 2px solid #666666;
  margin-bottom: .2em;
  margin-top: .5em;
  cursor: pointer;
}
